---
- name: create a vm on vcenter
  hosts: localhost
  connection: local

  tasks:
    - vmware_guest:
        hostname: vmlabvct001.labvmware.local
        username: Administrator@vsphere.local
        password: P@ssword1234
        validate_certs: no
        datacenter: 'DatacenterParis'
        folder: /PROD/
        guest_id: debian6_64Guest
        name: test_vm_ansible_GIT
        state: present
        disk:
        - size_gb: 1
          type: thin
          datastore: FreeNAS1
        hardware:
          num_cpus: 1
          memory_mb: 512
          scsi: paravirtual
      register: deploy_vm

...
